* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0 auto;
}

.background {
    background-image: url("assets/images/pipes.png");
}

#imgText{
    position: absolute;

    width: 35%;

    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 330px;
    left: 1%;
}

#imgText3{
    position: absolute;
    background-color: hsl(178, 67%, 40%);
    width: 35%;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 735.547px;
    left: 1%;
}

#imgText5{
    position: absolute;
    background-color: hsl(178, 67%, 40%);
    width: 35%;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 1141.094px;
    left: 1%;
}

#imgText2{
    position: absolute;
    background-color: hsl(178, 67%, 40%);
    width: 35%;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 330px;
    left: 38%;
}

#imgText4{
    position: absolute;
    background-color: hsl(178, 67%, 40%);
    width: 35%;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 735.547px;
    left: 38%;
}

.container {
    width: 60%;
    margin: 0 auto;
    position:relative;
    height: 100%;
    box-shadow: 0px 1px 1px #DBDBDB;
    background-color: white;
}

.container2{
    position: relative;
    text-align: center;
}

.topnav {
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 2px 1px #DBDBDB;
    margin-bottom: 30px;
    padding: 0px 0px 0px 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #919191;
    text-align: center;
    padding: 21px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: hsl(178, 67%, 40%);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 28px;
    padding: 15px 33px 15px 33px;
}

h1 {
    border-bottom: inset 2px #DBDBDB;
    color: hsl(178, 67%, 40%);
    font-weight: bold;
    margin-bottom: 22px;
    padding: 20px 0px 15px 0px;
    font-family: 'Times New Roman', Times, serif;
}

#right-section {
    float: right;
}

.resize{
    width: 35%;
    height: auto;
    float: left;
    color:white;
    background-color: hsl(178, 67%, 40%);
    margin: 1%;
}

p {
    line-height: 28px;
    margin: 10px;
}

p.formP{
    margin-bottom: 3px;
    font-size: 1.3em;
    font-weight: 500;
    margin-left: 0;
    color: #919191;
}

.nav-wrapper {
    width: 60%;
    margin: 0 auto;
}

.article-wrapper {
    width: 96%;
    margin: 0 auto;
    background:white;
}
.article-wrapperPF {
    width: 96%;
    margin: 0 auto;
    background:white;
    padding-bottom: 107.5%;
}

body{
    min-height: 100%;
}

footer {
    position: fixed;
    background-color: rgba(104, 104, 104, 0.541);
    padding: 0.3%;
    text-align: center;
    width: 100%;
    font-size:0.66666em;
    color: white;
    bottom: 0;
    border-top-color: hsl(178, 67%, 40%, 0.333);
    border-top-width: 0.75%;
    border-top-style: solid;
}

/*text input field formatting; line fields first, then text area field*/
input[type=text], select {
    width: 100%;
    padding: 1% 1.2%;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea{
    width: 100%;
    margin-bottom: 1%;
}

/*submit button formatting*/
input[type=submit] {
    width: 15%;
    background-color:hsl(178, 67%, 40%);
    color: white;
    padding: 14px 20px;
    margin-bottom: 1.45%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: hsl(178, 67%, 34%);
}